In [0]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import io
from google.colab import files
%matplotlib inline

In [3]:
uploaded = files.upload()

Saving adult.csv to adult.csv

In [4]:
data_set = pd.read_csv(io.BytesIO(uploaded['adult.csv']))
data_set.head()

   age          workclass  fnlwgt  ... hours-per-week         country  salary
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [5]:
data_set.shape

(32561, 15)

In [8]:
x = data_set[['capital-loss', 'education-num', 'hours-per-week']]
y = data_set['salary']
print(x)
print(y)

       capital-loss  education-num  hours-per-week
0                 0             13              40
1                 0             13              13
2                 0              9              40
3                 0              7              40
4                 0             13              40
...             ...            ...             ...
32556             0             12              38
32557             0              9              40
32558             0              9              40
32559             0              9              20
32560             0              9              40

[32561 rows x 3 columns]
0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: salary, Length: 32561, dtype: object

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [10]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [11]:
y_pred = classifier.predict(x_test)
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score
print('Confusion Matrix')
print(confusion_matrix(y_test, y_pred))
print('--------------------------------------------------------------')
print('Classification Report')
print(classification_report(y_test, y_pred))

Confusion Matrix
[[4655  300]
 [ 997  561]]
--------------------------------------------------------------
Classification Report
              precision    recall  f1-score   support

       <=50K       0.82      0.94      0.88      4955
        >50K       0.65      0.36      0.46      1558

    accuracy                           0.80      6513
   macro avg       0.74      0.65      0.67      6513
weighted avg       0.78      0.80      0.78      6513

In [12]:
print(accuracy_score(y_test,y_pred))

0.8008598188238907