In [0]:
import pandas as pd
import numpy as np
import io
from google.colab import files

In [4]:
uploaded = files.upload()

Saving PlayTennis.csv to PlayTennis (1).csv

In [5]:
data_set = pd.read_csv(io.BytesIO(uploaded['PlayTennis.csv']))
data_set

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [0]:
from sklearn import preprocessing
labelEncoder = preprocessing.LabelEncoder()
labelEncoder?

In [7]:
data_set['outlook'].unique()

array(['sunny', 'overcast', 'rainy'], dtype=object)

In [8]:
data_set['outlook'] = labelEncoder.fit_transform(data_set['outlook'])
data_set['humidity'] = labelEncoder.fit_transform(data_set['humidity'])
data_set['windy'] = labelEncoder.fit_transform(data_set['windy'])
data_set['temp'] = labelEncoder.fit_transform(data_set['temp'])
data_set['play'] = labelEncoder.fit_transform(data_set['play'])
data_set

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0

In [0]:
x = data_set[['outlook', 'temp', 'windy', 'humidity']]
y = data_set['play']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [10]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [11]:
y_pred = classifier.predict([[1, 2, 1, 2]])
y_pred

array([0])